{% extends "blog/base.html" %}  <!-- template inheritance -->
{% block content %}  <!-- put unique info in the content block -->
    <!--view.kwargs.username - get username that is passed to URL-->
    <h1 class="mb-4">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
    {% for post in posts %}  <!-- posts here is the key of context dict in views.py file -->
        <article class="media content-section">
            <a href="#"><img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt=""></a>
          <div class="media-body">
            <div class="article-metadata article-margin">
              <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title article-margin" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content article-margin">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}  <!-- end of for loop, endif is end for if statement and etc -->
    {% if is_paginated %}

        {% if page_obj.has_previous %}
<!--            page_obj={{ page_obj }}<br>-->
<!--            page_obj.object_list={{ page_obj.object_list }}<br>-->
<!--            page_obj.previous_page_number={{ page_obj.previous_page_number }}<br>-->
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

<!--        loop over all of the pages in the paginator-->
<!--        page_obj.paginator (to get the paginator object of our current page)-->
<!--        <br>page_obj.paginator={{ page_obj.paginator }}<br>-->
<!--        page_obj.paginator.page_range={{ page_obj.paginator.page_range }}<br>-->
        {% for num in page_obj.paginator.page_range %}
<!--            page_obj.number={{ page_obj.number }}-->
            {% if page_obj.number == num %}  <!-- check if our current page number is equal to the num that we're currently on through this loop -->
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
{% endblock content %}